.header-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
}

.header-title {
  text-transform: uppercase;
  text-align: center;
}

.container-items {
  display: grid;
  /*gap: 20px;*/
}

.item {
  display: grid;
  grid-template-areas:
    "title title"
    "info image"
    "specif specif";
  grid-template-columns: 2fr 1fr;
  border-bottom: 2px solid #000;
  margin-bottom: 20px;
  /*border: 2px solid red;*/
  width: 40%;
  height: auto;
  justify-self: center;
  font-family: Arial, Helvetica, sans-serif;
}

.item-title-container {
  grid-area: title;
  /*border: 2px solid green;*/
}

.item-title {
  font-size: 24px;
  display: grid;
  align-self: center;
}

.item-info-container {
  grid-area: info;
  /*border:2px solid blue;*/
  display: grid;
  align-content: center;
  width: 100%;
  height: auto;
}

.item-info {
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: auto;
  height: 100%;
}

.item-image-container {
  grid-area: image;
  display: grid;
  place-items: center;
  /*border: 2px solid black;*/
  justify-content: center;
  align-items: center;
}

.item-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.item-specif-container {
  grid-area: specif;
  /*border: 2px solid purple;*/
  display: grid;
  align-content: center;
  width: auto;
  height: 100%;
  margin-bottom: 20px;
}

.item-specif {
  font-size: 14px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .header-container {
    grid-auto-flow: row;
  }

  .item {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 426px) {
  .item-image {
    width: calc(100px - 25%);
    height: auto;
    object-fit: contain;
  }
}
